{{ define "main" }}
    {{- $paginator := partial "helper/paginator.html" . -}}

    <section class="article-list">
        {{ range $index, $element := $paginator.Pages }}
            <article class="{{ if .Params.image }}has-image{{ end }}">
                {{ partial "article/components/header" (dict "Page" . "IsList" true) }}
            </article>
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}